# --- Data ---
data/raw_v2/

# Generated / intermediate data (do not version)
data/processed/
data/interim/
data/features/

# --- Audio files ---
*.mp3
*.wav
*.flac
*.ogg
*.webm

# --- Images files ---
*.jpg
*.png
*.pdf

# --- Compressed files ---
*.zip
*.tar.gz
*.tar
*.7z

# --- Jupyter checkpoints ---
.ipynb_checkpoints/

# --- Virtual envs ---
venv/
.env
.env.*

# --- System files ---
.DS_Store
Thumbs.db
.cache

# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

